<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670676588257-8efejfds3m4ni4gdmt7qrbcucmarsm6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670676588257-8efejfds3m4ni4gdmt7qrbcucmarsm6u</string>
	<key>API_KEY</key>
	<string>AIzaSyCbE1kyZTb1-Q_Hm87GK7gN9cnl23xCIRU</string>
	<key>GCM_SENDER_ID</key>
	<string>670676588257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.tingr.teacher.prod</string>
	<key>PROJECT_ID</key>
	<string>tingr-152315</string>
	<key>STORAGE_BUCKET</key>
	<string>tingr-152315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:670676588257:ios:122bd68aa98f8f7a</string>
	<key>DATABASE_URL</key>
	<string>https://tingr-152315.firebaseio.com</string>
</dict>
</plist>